{% extends 'base.html' %}

{% block content %}


<section class="py-5 container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light h1">{{ job.title }}</h1>
            <p class="lead text-muted">{{ job.pub_date }}</p>
            <p><img src="{{ job.image.url }}" class="img-fluid" alt="{{ job.description }}"></p>
            <p>{{ job.detailed_description|safe }}</p>
            <a href="/" class="btn btn-light" role="button">На главную</a>
        </div>
    </div>
</section>

{% endblock %}
